<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring Bean Configuration -->
    <bean id="customer" class="lk.tdm.spring_bean.xml.Customer">
        <property name="name" value="TDM Shankar" />
        <property name="age" value="22"/>
    </bean>

    <!-- Spring Bean Configuration -->
    <bean id="product" class="lk.tdm.spring_bean.xml.Product">
        <property name="prodName" value="Biscuit"/>
        <property name="price" value="100"/>
        <property name="qoh" value="10"/>
    </bean>

</beans>

<!--<bean>: -->
<!--The bean tag is used to define a Spring Bean. -->
<!--The id attribute provides a unique identifier for the bean, and the class attribute specifies the fully qualified name of the Java class.-->

<!--<property>: -->
<!--The property tag is used to set the values for the bean's properties. -->
<!--The name attribute corresponds to the name of the property in the Customer class,-->
<!--and the value attribute provides the value to be assigned.-->